html
    head
        style
    body
        div(style="width: 200px; height: 200px; background: red;")
        div(style={width: '200px', height: '200px', background: 'red'})
        div(class="aaa left-wrap active")
        div(class=['aaa', 'left-wrap', 'active'])
